@model ShopHere.ViewModels.AddItemViewModel
@{
    ViewBag.Title = "AddItemInView";
}

<h2>Adding Item Here</h2>

@using (Html.BeginForm("AddItemToDb","Admin"))
{
    <div>
        
        @Html.LabelFor(m => m.Item.ItemName)
        @Html.TextBoxFor(m => m.Item.ItemName)
        @Html.ValidationMessageFor(m=> m.Item.ItemName)
    </div>
    
    <div>
        @Html.LabelFor(m => m.Item.ItemDescription)
        @Html.TextBoxFor(m => m.Item.ItemDescription)
        @Html.ValidationMessageFor(m => m.Item.ItemDescription)
    </div>    

    <div>
        @Html.LabelFor(m => m.Item.Price)
        @Html.TextBoxFor(m => m.Item.Price)
        @Html.ValidationMessageFor(m => m.Item.Price)
    </div>

    <div>
        @Html.LabelFor(m => m.Item.Quantity)
        @Html.TextBoxFor(m => m.Item.Quantity)
        @Html.ValidationMessageFor(m => m.Item.Quantity)
    </div>

    <div>
        @Html.LabelFor(m => m.Item.CategoryId)
        @Html.DropDownListFor(m => m.Item.CategoryId, new SelectList(Model.Categories ,"Id", "CategoryName"),"Select Category")
        @Html.ValidationMessageFor(m => m.Item.CategoryId)    
    </div>
    
    <button type="submit" name="Submit">Create Item</button>

    }

