@model ShopHere.Models.Item
@{
    ViewBag.Title = "AddItemToDb";
}

<h2>Item Added To DataBase</h2>
<h3>@Model.ItemName</h3>
<h3>@Model.Id</h3>
<h3>@Model.ItemDescription</h3>
<h3>@Model.Price</h3>
<h3>@Model.Quantity</h3>
